{{!-- Loop placeholder (renders after first two posts on a page) --}}
{{!-- You can delete the code below and put your own --}}

<style>
   #loopPlaceholder {
       width:100%;
       height:120px;
       margin: 30px auto;
       display:flex;
       opacity: 0.15;
       justify-content: center;
       align-items: center;
   }

</style>

<div id="loopPlaceholder" class="panel">
    <h4>Loop placeholder</h4>
</div>

