{{!-- renders social icons --}}

<div id="social-icons">

    {{#if @blog.twitter}}
        <a href="{{twitter_url}}"><i class="fa fa-twitter"></i></a>
    {{/if}}

    {{#if @blog.facebook}}
        <a href="{{facebook_url}}"><i class="fa fa-facebook"></i></a>
    {{/if}}

    {{!-- Below you can add or remove other social icons --}}
    {{!-- Example code: --}}
    {{!--<a href="#"><i class="fa fa-pinterest"></i></a>--}}

    <!-- @if BUILD_TYPE='demo' -->
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-gitlab"></i></a>
    <!-- @endif -->

    <!-- @if BUILD_TYPE='dev' -->
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-gitlab"></i></a>
    <!-- @endif -->


</div>