input,
input[type="text"],
select,
textarea {
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: $border-radius-base;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  &:focus {
    outline: 0;
  }
}

.checkbox-inline,
.radio-inline {
  margin-right: 20px;
}

button,
input[type="submit"] {
  padding: 5px 10px;
  margin: 10px 0;
  border: 0;
  display:block;
  border-radius: $border-radius-base;

  &:focus {
    outline: 0;
  }
}

